@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap')

$elm-dark-mode: hsl(209, 23%, 22%)
$bg-dark-mode: hsl(207, 26%, 17%)
$txt-lt: hsl(200, 15%, 8%)
$lt-input: hsl(0, 0%, 52%)
$bg-lt: hsl(0, 0%, 98%)
$white: hsl(0, 0%, 100%)

*
    box-sizing: border-box
    margin: 0
    padding: 0